<h1>The courses are</h1>
NBA Players by name!
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>PlayerID</th>
            <th>TeamID</th>
        </tr>
    </thead>
    <tbody></tbody>
    <% for (course of courses) {
        const out = course['firstName'];
        const last = course['lastName'];
        const pid = course['playerID'];
         %>
      <tr class="mb-2"> 
        <td>
            <%course.firstName%>
        </td>

        <td>
          <strong><%= course.firstName %></strong>
        </td>
        <td>
          <%= out %>
        </td>
      <td> 
           <%= last%>
           <% course.lastName%>
      </td>
      
      
    </tr>
    <% } %>
    </tbody>
</table>

<pre>
    <!-- 
        <%= JSON.stringify(courses,null,5) %> 
    -->
</pre>
